mounts
data
logs
indices
yocto
.git
k8
docker-openvpn
docker-syncthing
nginx-proxy
hurra-agent
cloudbuild
**/tmp
**/log
**/node_modules
build-server
!yocto/meta-hurracloud/recipes-hurracloud/hurracloud/files/nginx.conf
