[submodule "yocto/poky"]
	path = yocto/poky
	url = git://git.yoctoproject.org/poky
[submodule "yocto/meta-openembedded"]
	path = yocto/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "yocto/meta-raspberrypi"]
	path = yocto/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
[submodule "yocto/meta-virtualization"]
	path = yocto/meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
[submodule "yocto/openembedded-core"]
	path = yocto/openembedded-core
	url = https://github.com/openembedded/openembedded-core.git
[submodule "docker-openvpn"]
	path = docker-openvpn
	url = git@bitbucket.org:aimannajjar/docker-openvpn.git
