[submodule "docker-openvpn"]
	path = docker-openvpn
	url = git@bitbucket.org:aimannajjar/docker-openvpn.git
	update = rebase
[submodule "src/samaa"]
	path = src/samaa
	url = https://github.com/HurraTech/samaa.git
	branch = master
	update = rebase
[submodule "src/jawhar"]
	path = src/jawhar
	url = https://github.com/HurraTech/jawhar.git
	branch = master
	update = rebase
[submodule "src/zahif"]
	path = src/zahif
	url = https://github.com/HurraTech/zahif.git
	branch = master
	update = rebase
[submodule "src/souq"]
	path = src/souq
	url = https://github.com/HurraTech/souq.git
	branch = master
	update = rebase
[submodule "src/hagent"]
	path = src/hagent
	update = rebase
	branch = master
	url = https://github.com/HurraTech/hagent.git
