[Unit]
Requires=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory=/
ExecStart=/bin/hagent --tmp_dir=/data/hagent/tmp
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
