[Unit]
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/
ExecStart=/bin/hurra-start
ExecStop=/bin/hurra-stop

[Install]
WantedBy=multi-user.target
