[Unit]
Requires=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory=/
ExecStart=/bin/hurracloud-agent
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
