[Unit]
Description=hurracloud
Requires=docker.service
After=docker.service

[Service]
Restart=always

# Start
ExecStart=/bin/hurra-start

# Stop
ExecStop=/bin/hurra-stop

[Install]
WantedBy=multi-user.target
