[Unit]
Description=hurracloud
Requires=docker.service
After=docker.service

[Service]
Restart=always

# Start
ExecStartPre=/bin/hurra-update-images
ExecStart=/usr/bin/docker-compose -f /etc/hurra/services.yml up
ExecStartPost=docker system prune -f

# Stop
ExecStop=/usr/bin/docker-compose -f /etc/hurra/services.yml down

[Install]
WantedBy=multi-user.target
