[Unit]
Description=Hurra Agent
After=docker.service

[Service]
Type=simple
RemainAfterExit=true
WorkingDirectory=/
ExecStart=/bin/hurra-agent
Restart=on-failure

[Install]
WantedBy=multi-user.target
