[Unit]
Requires=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory=/
ExecStart=/bin/jawhar
Environment=SOUQ_API=https://souq.hurracloud.io
Environment=SOUQ_AUTH=true
Environment=DB=/data/jawhar.db
Environment=MOUNT_POINTS_ROOT=/data/mounts
Environment=CONTAINERS_ROOT=/data
Environment=INTERNAL_STORAGE=/data/storage
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
