[Unit]
Requires=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory=/
ExecStart=/bin/zahif -v 
Environment=METADATA_DIR=/data/zahif
Environment=PARALLELISM=1
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
