body {
    font-size: 1rem;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
    margin: 0
  }
  
  .gradient {
    height: 1px;
    position: relative;
    width: 100%;
    background: radial-gradient(ellipse farthest-side at top center, rgba(83, 79, 79, 0.582), transparent);
  }
  
  .gradient::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 3px;
    background: linear-gradient(left, transparent, rgba(0,0,0,0.02), rgba(0,0,0,0.02), transparent);
  }
  
  .fiv-cla, .fiv-viv, .fiv-sqo { font-size: 2em; }
  
  .ReactVirtualized__Grid {
    outline: none;
  }

  /* --------------------- */
  /*  Icons                */

  .hurralogo {
    background-image: url('/icons/logo.svg');
    display: inline-block;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    font-size: 125px;
    width: 35px;
    height: 35px;
    margin-right:5px;
  }

  .google-drive-icon:before {
    content: '\00a0';
  }
  

  .google-drive-icon {
    background-image: url('/icons/google-drive.svg');
    display: inline-block;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    font-size: 125px
  }
  
  
  /* --------------------- */
  .meter { 
    height: 24px;  /* Can be anything */
    position: relative;
    background: black;
    width: 50px;
    margin-right: 30px;
  
    /* -moz-border-radius: 25px;
      -webkit-border-radius: 25px;
      border-radius: 25px; */
  
    /* padding: 10px; */
  
    /* -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
      -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
      box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3); */
  }
  
  .meter > span {
    display: block;
    height: 100%;
  
    /* -webkit-border-top-right-radius: 8px;
      -webkit-border-bottom-right-radius: 8px;
             -moz-border-radius-topright: 8px;
          -moz-border-radius-bottomright: 8px;
                 border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
          -webkit-border-top-left-radius: 20px;
       -webkit-border-bottom-left-radius: 20px;
              -moz-border-radius-topleft: 20px;
           -moz-border-radius-bottomleft: 20px;
                  border-top-left-radius: 20px;
               border-bottom-left-radius: 20px; */
    background-color: rgb(43,194,83);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(43,194,83)),
      color-stop(1, rgb(84,240,84))
    );
    background-image: -moz-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
    );
  
    /* -webkit-box-shadow: 
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
      -moz-box-shadow: 
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
      box-shadow: 
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4); */
  
    /* position: relative; */
    overflow: hidden;
  }
  
  .meter > span::after, .animate > span > span {
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: 
      -webkit-gradient(linear, 0 0, 100% 100%, 
      color-stop(0.25, rgba(255, 255, 255, 0.2)), 
      color-stop(0.25, transparent), color-stop(0.5, transparent), 
      color-stop(0.5, rgba(255, 255, 255, 0.2)), 
      color-stop(0.75, rgba(255, 255, 255, 0.2)), 
      color-stop(0.75, transparent), to(transparent)
    );
    background-image: 
      -moz-linear-gradient(
        -45deg, 
        rgba(255, 255, 255, 0.2) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(255, 255, 255, 0.2) 50%, 
        rgba(255, 255, 255, 0.2) 75%, 
        transparent 75%, 
        transparent
      );
    z-index: 1;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
  
    /* -webkit-border-top-right-radius: 8px;
      -webkit-border-bottom-right-radius: 8px;
             -moz-border-radius-topright: 8px;
          -moz-border-radius-bottomright: 8px;
                 border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
          -webkit-border-top-left-radius: 20px;
       -webkit-border-bottom-left-radius: 20px;
              -moz-border-radius-topleft: 20px;
           -moz-border-radius-bottomleft: 20px;
                  border-top-left-radius: 20px;
               border-bottom-left-radius: 20px; */
    overflow: hidden;
  }
    
  .animate > span::after {
    display: none;
  }
    
  @-webkit-keyframes move {
    0% {
      background-position: 0 0;
    }
  
    100% {
      background-position: 50px 50px;
    }
  }
    
  .orange > span {
    background-color: #f1a165;
    background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
    background-image: -webkit-linear-gradient(#f1a165, #f36d0a); 
  }
    
  .red > span {
    background-color: #f0a3a3;
    background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
    background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
  }
    
  .nostripes > span > span, .nostripes > span::after {
    -webkit-animation: none;
    background-image: none;
  }
  
  .indexingDone {
    float: left;
    margin-right: 5px;
  }
  
  
  .meter > span {
    -moz-transition: max-width 5s ease;
    -webkit-transition: max-width 5s ease;
    -o-transition: max-width 5s ease;
    transition: max-width 5s ease;
    max-width: 10px
  }


  /* --------------------------- */
  /* Fonts */


  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular-webfont.eot');
    src: url('/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('/fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Italic-webfont.eot');
    src: url('/fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('/fonts/Roboto-Italic-webfont.ttf') format('truetype'),
         url('/fonts/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold-webfont.eot');
    src: url('/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('/fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('/fonts/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-BoldItalic-webfont.eot');
    src: url('/fonts/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('/fonts/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('/fonts/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Thin-webfont.eot');
    src: url('/fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('/fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('/fonts/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-ThinItalic-webfont.eot');
    src: url('/fonts/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('/fonts/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('/fonts/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg'); (under the Apache Software License). 
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light-webfont.eot');
    src: url('/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-Light-webfont.woff') format('woff'),
         url('/fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('/fonts/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-LightItalic-webfont.eot');
    src: url('/fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-LightItalic-webfont.woff') format('woff'),
         url('/fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('/fonts/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Medium-webfont.eot');
    src: url('/fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('/fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('/fonts/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-MediumItalic-webfont.eot');
    src: url('/fonts/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('/fonts/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('/fonts/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}


/* Ubuntu Font */
@font-face {
  font-family: 'Ubuntu';
  src: url('/fonts/Ubuntu-Regular.eot');
  src: url('/fonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Ubuntu-Regular.woff') format('woff'),
       url('/fonts/Ubuntu-Regular.ttf') format('truetype'),
       url('/fonts/Ubuntu-Regular.svg#UbuntuRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Italic.eot');
    src: url('/fonts/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Ubuntu-Italic.woff') format('woff'),
         url('/fonts/Ubuntu-Italic.ttf') format('truetype'),
         url('/fonts/Ubuntu-Italic.svg#UbuntuItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Bold.eot');
    src: url('/fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Ubuntu-Bold.woff') format('woff'),
         url('/fonts/Ubuntu-Bold.ttf') format('truetype'),
         url('/fonts/Ubuntu-Bold.svg#UbuntuBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-BoldItalic.eot');
    src: url('/fonts/Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Ubuntu-BoldItalic.woff') format('woff'),
         url('/fonts/Ubuntu-BoldItalic.ttf') format('truetype'),
         url('/fonts/Ubuntu-BoldItalic.svg#UbuntuBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Thin.eot');
    src: url('/fonts/Ubuntu-Thin.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Ubuntu-Thin.woff') format('woff'),
         url('/fonts/Ubuntu-Thin.ttf') format('truetype'),
         url('/fonts/Ubuntu-Thin.svg#UbuntuThin') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-ThinItalic.eot');
    src: url('/fonts/Ubuntu-ThinItalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Ubuntu-ThinItalic.woff') format('woff'),
         url('/fonts/Ubuntu-ThinItalic.ttf') format('truetype'),
         url('/fonts/Ubuntu-ThinItalic.svg#UbuntuThinItalic') format('svg'); (under the Apache Software License). 
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Light.eot');
    src: url('/fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Ubuntu-Light.woff') format('woff'),
         url('/fonts/Ubuntu-Light.ttf') format('truetype'),
         url('/fonts/Ubuntu-Light.svg#UbuntuLight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-LightItalic.eot');
    src: url('/fonts/Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Ubuntu-LightItalic.woff') format('woff'),
         url('/fonts/Ubuntu-LightItalic.ttf') format('truetype'),
         url('/fonts/Ubuntu-LightItalic.svg#UbuntuLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-Medium.eot');
    src: url('/fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Ubuntu-Medium.woff') format('woff'),
         url('/fonts/Ubuntu-Medium.ttf') format('truetype'),
         url('/fonts/Ubuntu-Medium.svg#UbuntuMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu-MediumItalic.eot');
    src: url('/fonts/Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Ubuntu-MediumItalic.woff') format('woff'),
         url('/fonts/Ubuntu-MediumItalic.ttf') format('truetype'),
         url('/fonts/Ubuntu-MediumItalic.svg#UbuntuMediumItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}
